<div class="text-center">
  <h1 style="padding: 20px; color: red">Welcome to Potter Potions</h1>
</div>

<div class="card-container">
  <p-card
    *ngFor="let item of items"
    header="{{ item.itemName }}"
    subheader="$ {{ item.price }}"
    [style]="{ width: '300px' }"
    styleClass="p-card-shadow custom-card"
  >
    <ng-template pTemplate="header">
      <img
        class="image"
        alt="Image"
        [src]="item.image"
      />
    </ng-template>
    <p><i>{{ item.effect }}</i></p>
    <ng-template pTemplate="footer">
      <p-button label="Add to Cart" icon="pi pi-cart-plus"></p-button>
      <!-- <p-button
        label="Cancel"
        icon="pi pi-times"
        styleClass="p-button-secondary"
        [style]="{ 'margin-left': '.5em' }"
      ></p-button> -->
    </ng-template>
  </p-card>
</div>
