<p-menubar [model]="items">
  <ng-template pTemplate="start"> </ng-template>
  <ng-template pTemplate="end">
    <button
      *ngIf="!authenticated()"
      pButton
      type="button"
      class="p-button-success"
      routerLink="/login"
    >
      Login
    </button>

    <div class="row">
      <label *ngIf="authenticated()" class="welcomeLabel">
        <i class="pi pi-user"></i> {{ username }}
      </label>
    </div>
    <div class="row">
      <button
        *ngIf="authenticated()"
        pButton
        type="button"
        class="p-button-danger"
        (click)="loggedOut()"
      >
        Logout
      </button>
    </div>
  </ng-template>
</p-menubar>
