<p-menubar [model]="items">
  <ng-template pTemplate="start"> </ng-template>
  <ng-template pTemplate="end">
    <button
      *ngIf="!authenticated() && router.url != '/login'"
      pButton
      type="button"
      class="p-button-success"
      routerLink="/login"
    >
      Login
    </button>

      <p-button class="blueBtn" type="text" icon="pi pi-user" *ngIf="authenticated()" [label]="username" >
      </p-button>
      
      <p-button class="blueBtn" type="text" icon="pi pi-shopping-cart" *ngIf="authenticated()" (onClick)="viewCart()" ></p-button>
  
      <button
        *ngIf="authenticated()"
        pButton
        type="button"
        class="p-button-danger"
        (click)="loggedOut()"
      >
        Logout
      </button>

  </ng-template>
</p-menubar>
